<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">        
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <title>Lista de departamentos</title>
</head>
<body>
    <div id="containe" style="margin-top: 40px;">
            <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Sigla</th>
                            <th>Desconto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="departamento : ${departamentos}">
                            <td th:text="${departamento.id}"></td>
                            <td th:text="${departamento.nome}"></td>
                            <td th:text="${departamento.sigla}"></td>
                            <td th:text="${departamento.desconto}"></td>
                        </tr>
                    </tbody>
                </table>
    </div>
   
</body>
</html>